<!DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<script src="assets/js/jquery.min.js"></script>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="index.html">Spectral</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="index.html">Home</a></li>
											<li><a href="generic.html">Generic</a></li>
											<li><a href="elements.html">Elements</a></li>
											<li><a href="#">Sign Up</a></li>
											<li><a href="#">Log In</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<!-- CTA -->
					<article id="main">
                        <header>
                            <h2>PingPong 713</h2>
                            <p>ルーム作成の場合は管理者/ルームに参加する場合は参加者をクリック</p>
                            <ul class="actions vertical">
                                    <li><a href="/owner" class="button fit special">管理者</a></li>
                                    <li><a href="/member" class="button fit">参加者</a></li>
                                </ul>
                        </header>
                </article>
				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			$(function() {
				var socket = io('http://192.168.33.10:3000', {'transports': ['websocket', 'polling']});
				socket.on('connect',function (message) {
					console.log("接続しました");
					console.log(socket.id);
					socket.emit("entry",{value: socket.id+"さんが入室しました"});
				});

				socket.on("join",function (data) {
					console.log(data.value);
				})


				function appendMessage(text) {
					$("#messageView").append( "<div>" + text + "</div>" );
				}


				$('.button').click(function(){
					socket.emit('vote', {vote_option: $(this).val()});
					console.log($(this).val());
					$('.button').remove();
					$('.button_box').html('結果をお待ち下さい');
					return false;
				});

			});
		</script>

	</body>
</html>