<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/util.js"></script>
    <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    <script src="/js/main.js"></script>
</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html">Spectral</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="generic.html">Generic</a></li>
                            <li><a href="elements.html">Elements</a></li>
                            <li><a href="#">Sign Up</a></li>
                            <li><a href="#">Log In</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main">
        <!--
        <header>
            <h2>Elements</h2>
            <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
        </header>
        -->
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <h4>Number & NAME</h4>

                    <form id="joinroom" method="get" action="/vote_make">
                        <div class="row uniform">
                            <div class="6u 12u$(xsmall)">
                                <select id="rooms">
                                    <option value="room1">Room1</option>
                                    <option value="room2">Room2</option>
                                    <option value="room3">Room3</option>
                                    <option value="room4">Room4</option>
                                </select>
                            </div>
                            <div class="6u$ 12u$(xsmall)">
                                <input type="text" name="demo-name" id="name" value="" placeholder="Name" />
                            </div>
                            <div class="12u$">
                                <ul class="actions">
                                    <li><input type="submit" value="Room Init" class="special" id="sendButton" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </section>
    </article>
</div>

<script src="/socket.io/socket.io.js"></script>
    <script>
        $(function() {
            var chat = io.connect('http://192.168.33.10:3000');   
            chat.on("connect",function(message) {
                console.log("接続しました");
            })
            // emit: イベントを発信している
            // on: イベントを待ち受けている
            $('#joinroom').submit(function(e) {
                console.log($('#rooms').val());
                chat.emit('emit_from_room', {
                    room: $('#rooms').val(),
                    name: $('#name').val()
                });
                //return false;
            });
        });
    </script>

</body>
</html>