<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/util.js"></script>
    <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    <script src="/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <style>
        .button{
            width:200px;
            height: 200px;
            padding:0px !important;
            text-align: center;
            margin: 30px;
        }
        .button_box{
            width:600px;
            height: 600px;
            margin: 0 auto !important;
        }
    </style>

</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html">Spectral</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="generic.html">Generic</a></li>
                            <li><a href="elements.html">Elements</a></li>
                            <li><a href="#">Sign Up</a></li>
                            <li><a href="#">Log In</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main">
        <!--
        <header>
            <h2>Elements</h2>
            <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
        </header>
        -->
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <h4>質問記入欄</h4>
                    <form method="get" action="/vote_view" id="question">
                        <div class="row uniform button_box">
                            <input type="button" class="button" value="1" id="option1">
                            <input type="button" class="button" value="2" id="option2">
                            <input type="button" class="button" value="3" id="option3">
                            <input type="button" class="button" value="4" id="option4">
                        </div>
                    </form>
                </section>
            </div>
        </section>
        <div id="messageView"></div>

    </article>
</div>
</body>
</html>