<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
<<<<<<< .merge_file_8900q2
    <link rel='stylesheet' href='/stylesheets/style.css' />
=======
>>>>>>> .merge_file_KzOv13
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/util.js"></script>
    <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    <script src="/js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>
        window.onload = function () {
            var i = 4;
            $("#option_add").click(function () {
                i++
                var option_number = "option"+ i;
                var option_last = $(".row");
                var option_text = "選択肢"+i+"つ目";
                option_last.append('<div class="12u$ 12u$(xsmall)"> <input type="text" name="demo-name" id="'+option_number+'" value="" placeholder="'+option_text+'" /> </div>');
            });
            $("#option_delete").click(function () {
                var option_number = "option"+ i;
                $("#"+option_number+"").remove();
                if(i>1){
                    i--
                }
            });
        };
    </script>

</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html">Spectral</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="generic.html">Generic</a></li>
                            <li><a href="elements.html">Elements</a></li>
                            <li><a href="#">Sign Up</a></li>
                            <li><a href="#">Log In</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main">
        <!--
        <header>
            <h2>Elements</h2>
            <p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
        </header>
        -->
        <section class="wrapper style5">
            <div class="inner">
                <section>
                    <h4>質問記入欄</h4>
                    <form method="get" action="/entry">
                        <div class="row uniform">
                            <div class="12u 12u$(xsmall)">
                                <input type="text" name="demo-number" id="quesion" value="" placeholder="質問文を記入してください" />

                            </div>
                            <div class="12u$ 12u$(xsmall)">
                                <input type="text" name="demo-name" id="option1" value="" placeholder="選択肢1つ目" />
                            </div>
                            <div class="12u$ 12u$(xsmall)">
                                <input type="text" name="demo-name" id="option2" value="" placeholder="選択肢2つ目" />
                            </div>
                            <div class="12u$ 12u$(xsmall)">
                                <input type="text" name="demo-name" id="option3" value="" placeholder="選択肢3つ目" />
                            </div>
                            <div class="12u$ 12u$(xsmall)">
                                <input type="text" name="demo-name" id="option4" value="" placeholder="選択肢4つ目" />
                            </div>
                        </div>


                            <div class="12u$">
                                <ul class="actions">
                                    <li><input type="submit" value="質問作成！" class="special" /></li>
                                </ul>
                            </div>
                    </form>
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="選択肢削除" class="special" id="option_delete" /></li>
                        </ul>
                    </div>
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="選択肢追加" class="special" id="option_add" /></li>
                        </ul>
                    </div>
                </section>
            </div>
        </section>

    </article>

</div>

 <script src="/socket.io/socket.io.js"></script>
    <script>
        $(function() {
            var chat = io.connect('http://192.168.33.10:3000');
                
            // emit: イベントを発信している
            // on: イベントを待ち受けている
            $('#myForm').submit(function(e) {
                console.log($('#quesion').val());
                chat.emit('emit_from_qustion', {
                    qs: $('#quesion').val(),
                    op1: $('#option1').val(),
                    op2: $('#option2').val(),
                    op3: $('#option3').val(),
                    op4: $('#option4').val()
                });
                e.preventdefault();
            });
        });
    </script>
</body>
</html>